@import '../../../styles/variables.scss';

.adika-filter-container {
  .icon-title-view {
    cursor: pointer;

    .icon-filter {
      font-size: 14px;
    }
    .filter-title {
      color: $gray_text;
      font-size: 14px;
      margin: 2px 5px;
    }
    .filter-title:hover {
      color: $light_blue;
    }
  }

  .display-filters-close {
    display: none;
  }
}

.filter-view {
  background: $black;
  position: relative;

  .filter-title-drawer {
    font-weight: bold;
    font-size: 22px;
    color: $white;
    padding: 10px;
    text-align: left;
  }

  .filter-md-close {
    position: absolute;
    right: 10px;
  }
}

.filters-view {
  .filter-key {
    margin-top: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
  }

  .filter-key:after {
    content: '';
    width: 60px;
    height: 2px;
    background-color: $black;
    bottom: -5px;
    position: absolute;
    left: 0;
  }

  .filter-block {
    max-height: 230px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.filter-menu {
  position: fixed;
  margin-top: 40px;
  box-shadow: 0px 1px 5px rgb(104, 103, 103);
  border-radius: 4px;
  padding: 15px;
}

.colors-span {
  display: block;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid transparent;
  border: solid 1px #e5e5e5;
}

.li-option {
  line-height: 25px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

@media (max-width: $max-width) {
  .filters-view {
    max-width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(104, 103, 103);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #150f36;
}