//common classes
@import './variables.scss';

.margin-horizontal-5{
    margin:0 5px;
}

.padding-horizontal-15{
    padding:0 15px;
}

a:hover{
    color:$light_blue!important;
    text-decoration: none;
    cursor: pointer;
}

a:active{
    color:$light_blue;  
}

li{
    list-style-type: none;
}

.color-red{
    color:$red !important;
}

@media (max-width:$max-width) {
    .desktop-only{
        display: none!important;
    }
}

@media (min-width:$min-width) {
    .mobile-only{
        display:none!important;
    }
}