//common classes
@import './variables.scss';

.margin-horizontal-5{
    margin:0 5px;
}

.padding-horizontal-15{
    padding:0 15px;
}

.a:hover{
    color:$light_blue;
    text-decoration: none;
    cursor: pointer;
}

.color-red{
    color:$red !important;
}

@media (max-width:400px) {
    .desktop-only{
        display: none!important;
    }
}

@media (min-width:401px) {
    .mobile-only{
        display:none!important;
    }
}