@import '../../styles/variables.scss';

.sort-by-container {
    .sort-by-title {
        color:$gray_text;
        font-size: 14px;
        cursor: pointer;
    }
    .arrow-icon {
        font-size: 12px;
        color:$gray_text;
        margin-left: 8px;
        margin-top: 2px;
    }
    .sort-selector{
        border:1px solid #ddd;
        border-radius: 40px;
        padding: 1px 7px 7px 15px;
        width: 160px;
        text-align: left;
        margin-top: 30px;
    }
    .display-web-sort{
        display: block;
    }
    .hide-web-sort{
        display: none;
    }
}

.sort-drawer-container{
    height:340px;

    .sort-options-title{
        height:50px;
        border-bottom: 1px solid #dedede ;
        display: flex;

        .sort-title{
            line-height: 50px;
            font-weight: bold;
            font-size: 18px;
            color:$black;
            letter-spacing:2px;
            padding-left: 10px;
        }
    }
    .sort-options-view{
        height:305px;

        .sort-option-view{
           height:40px;
           
           .sort-option-title{
               display:block;
               position: relative;
               padding: 8px 15px;
               font-size: 14px;
               color:$gray_text;
           }

           a:hover{
                background: rgba(86,207,225,0.08);
        
           }
           a.selected{
            background: rgba(86,207,225,0.08);
        }
        }
    }
}

@media(min-width:400px) {
    .sort-selector {
        position: relative;
    }
    .arrow-icon{
        position: absolute;
        right: 10px;
        top:8px;
    }
}
