
@import '../../styles/variables.scss';

.categories-container {
    font-family: Verdana, sans-serif;
    text-align: center;
    .category-name{
        color:$black;
        font-size:14px;
    }

    a:active{
        color:$light_blue;  
    }

    ul{
        padding:0;
        margin-bottom: 10px;
    }


    @media (min-width:$min_width) {
        hr{
            margin-top:0;
            margin-bottom: 5px;
        }    
    }

    @media (max-width:$max-width){
        .display-categories-close{
            display: none;
        }
        .categories-title { 
            font-size: 15px;
            color:$light_blue;
            font-weight: bold;
            cursor: pointer;
        }

        li{
            margin-top:5px;
        }

        hr.mobile-only{
            margin-bottom: 0;
        }
    }
}