@import '../../styles/variables.scss';

.product-container{
    .product-title-price{
        height: 44px;
        width: 100%;
        text-align: left;
        margin-top: 10px;

        .product-title{
            font-weight: bold;
            font-size: 14px;
            color:$black;
            margin-bottom: 0;
        }
        .product-price{
            font-size: 14px; 
            color:$dark_grey;
        }
    }
}