@import '../../styles/variables.scss';

.product-container{
    .image-background{
        position: relative;

        .sizes-info{
            position: absolute;
            bottom: 5px;
            width: 100%;
            text-align: center;
            text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.15);
            color:$white;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .product-title-price{
        height: 44px;
        width: 100%;
        text-align: left;
        margin-top: 10px;

        .product-title{
            font-weight: bold;
            font-size: 14px;
            color:$black;
            margin-bottom: 0;
        }
        .product-price{
            font-size: 14px; 
            color:$dark_grey;
        }
    }
}

.costum-col-5{
    flex: 0 0 20%;
    padding-right: 15px;
    padding-left: 15px ;
    
}

@media(max-width:$max-width){
    .buttons-container {
        display: flex;
        background-color: $white;
        flex-direction: column;
        position: absolute;
        border-color: black;
        border-width: 2px;
        right:10px;
        bottom: 30px;
        border-radius: 50px;
        width: 40px;

        .button-text {
            display: none;
        }
        .icon-hover{
            width: 100%;
            justify-content: center;
        }
    }
}

@media (min-width:$min-width) {
    .buttons-container {
        width: 100%;
        display: flex;
        justify-content: center;

        .hoverCommon{
            position: absolute;
            width: 100%;
            text-align: center;
            z-index: 2;
        }

        .hoverCommon .icon-hover{
            display: none;
            height:25px;
        }
        .hoverCommon:hover a{
            display: none;
        }

        .hoverCommon:hover .icon-hover{
            display: block;
            width: 100%;
            height:25px;
            color:$white
        }
        .commonButton{
            background-color: $white;
            width: 50%;
            text-align: center;
            padding:5px;
            border-radius: 50px;
        }
        
        .commonButton:hover{
            background-color: $black;
            color:$white;
    
        }
        .quick-view{
            bottom:120px;
        }

        .quick-shop{
            bottom:80px;
        }
  
        .button-text{
            font-size: 14px;
            font-weight: bold;
            color:$black
        }
    }
}